* {
    padding: 0px;
}
body {
    width: 1100px;
}

#logo {
    background-image: url(../img/pattern.png);
    background-size: contain;
}
#logo-img {
    width: 150px;
}
#creator {
    color:aqua;
}
#data {
    font-size: 5 px;
}
.evidenziato {
    background-color: gold;
}
.paragrafo {
    padding-bottom: 20px;
}
.lista {
    padding-left: 20px;
    padding-bottom: 20px;
}
.table {
    padding-bottom: 20px;
    margin-left: 0px;
    border-collapse: collapse;
}
#riga1 {
    background: aqua; 
    color: blue;
}
.riga-azzurra {
    background-color: aquamarine;
    padding: 1em;
}
#title-footer {
    color: gray;
}
#footer-img-1 {
    background-image: url(../img/monitor.jpg);
    height: 200px;
    width: 310px;
    color: white;
}
#footer-img-2 {
    background-image: url(../img/graph.jpg);
    height: 200px;
    width: 310px;
    color: white;
}