

#logo {
    background-image: url(../img/pattern.png);
    background-size: contain;
}
#logo-img{
    width: 150px;
}
#creator{
    color:aqua;
}
#data{
    font-size: 5 px;
}
.evidenziato{
    background-color: gold;
}